<footer class="mt-12 dark:bg-gray-800">
    <div class="bg-gray-800 w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
          <p>&copy 2023</p>
          Made by <a href="https://github.com/Trotsijs/" class="hover:text-gray-900 font-bold">Trotsijs</a> using
          <a href="https://rickandmortyapi.com/" class="hover:text-gray-900 font-bold">rickandmortyapi</a>
    </span>
    </div>
</footer>
